#canvas{
    background-color: #00BFFF;
    width: 800px;
    height: 400px;
    top:150px;
    position: absolute;
    left: 250px;
    box-shadow: 2px 2px 4px grey;
}

.bubble{
    width: 20px;
    height: 20px;
    background-color: white;
    position: absolute;
    border-radius: 50%;
}
.bait{
    width: 20px;
    height: 20px;
    background-color: darkred;
    position: absolute;
    border-radius: 50%;
}

.score{
    border-radius:5px;
    background-color: darkred;
    text-align: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 200px;
    margin-top: 20px;
    padding: 3px;
}
