#canvas{
    background-color: black;
    width: 800px;
    height: 400px;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}

.bubble{
    width: 20px;
    height: 20px;
    background-color: white;
    position: absolute;
    border-radius: 50%;
}
