#canvas{
    background-color: black;
    width: 800px;
    height: 400px;
    position: absolute;
}

.bubble{
    width: 20px;
    height: 20px;
    background-color: white;
    position: absolute;
    border-radius: 50%;
}
.bait{
    width: 20px;
    height: 20px;
    background-color: red;
    position: absolute;
    border-radius: 50%;
}
